<div class="jumbotron">
    <div class="container">
      <% if user_signed_in? && current_user.username.capitalize == "Jordane" %>
      <h1> Welcome <%= current_user.username.capitalize %> ! </h1>
      <img src ="http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-11/256/pig-nose.png">  </img>

      <% elsif user_signed_in?   %>
      <h1> Welcome <%= current_user.username.capitalize %> ! </h1>
      <span class="btn btn-primary">Get started !</span>
      <% else %>
      <h1> Welcome ! </h1>
      <p><%= link_to new_user_registration_path  do %><span class="btn btn-primary">Register</span> <% end %> or <%= link_to new_user_session_path  do %><span class="btn btn-success">Sign in</span> <% end %>  to get started. </p>
      <p>
      <% end %>
      </p>
    </div>

  </div>
